.m-auto {
  margin: auto
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-2 {
  margin-top: 0.5rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mt-4 {
  margin-top: 1rem
}

.ml-1 {
  margin-left: 0.25rem
}

.mt-1 {
  margin-top: 0.25rem
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.w-full {
  width: 100%
}

.w-10 {
  width: 2.5rem
}

.grow {
  flex-grow: 1
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.rounded-lg {
  border-radius: 0.5rem
}

.border-2 {
  border-width: 2px
}

.border-lime-500 {
  --tw-border-opacity: 1;
  border-color: rgb(132 204 22 / var(--tw-border-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-lime-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(132 204 22 / var(--tw-bg-opacity))
}

.bg-lime-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(190 242 100 / var(--tw-bg-opacity))
}

.p-10 {
  padding: 2.5rem
}

.p-4 {
  padding: 1rem
}

.p-6 {
  padding: 1.5rem
}

.text-center {
  text-align: center
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.text-lime-500 {
  --tw-text-opacity: 1;
  color: rgb(132 204 22 / var(--tw-text-opacity))
}

.text-lime-900 {
  --tw-text-opacity: 1;
  color: rgb(54 83 20 / var(--tw-text-opacity))
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-red-800 {
  --tw-text-opacity: 1;
  color: rgb(153 27 27 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-yellow-500 {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity))
}

.text-lime-600 {
  --tw-text-opacity: 1;
  color: rgb(101 163 13 / var(--tw-text-opacity))
}

.text-orange-800 {
  --tw-text-opacity: 1;
  color: rgb(154 52 18 / var(--tw-text-opacity))
}

.text-orange-600 {
  --tw-text-opacity: 1;
  color: rgb(234 88 12 / var(--tw-text-opacity))
}

.text-orange-400 {
  --tw-text-opacity: 1;
  color: rgb(251 146 60 / var(--tw-text-opacity))
}

.text-orange-500 {
  --tw-text-opacity: 1;
  color: rgb(249 115 22 / var(--tw-text-opacity))
}

.text-yellow-600 {
  --tw-text-opacity: 1;
  color: rgb(202 138 4 / var(--tw-text-opacity))
}
